.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-color);

  opacity: 1;
  visibility: visible;
  transition: opacity var(--anim-slow), visibility var(--anim-slow);
  overflow-y: scroll;

  @media screen and (max-width: 480px) {
    padding: 15px;
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
