.logo {
  color: var(--accent-color);

  font-family: 'Raleway';
  @include fonts(700, 24px, 28px);

  @media screen and (min-width: 1200px) {
    @include fonts(700, 26px, 31px);
  }

  &--primary {
    color: var(--first-logo-color);
  }
  &--secondary {
    color: var(--primary-white-color);
  }
}
