.input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  // outline: 1px solid rgba(33, 33, 33, 0.2);
  // outline-offset: -1px;

  border-radius: 4px;

  transition: border-color var(--anim-slow);
  outline: transparent;
  &:focus {
    border-color: var(--accent-color);
  }
}
