@import './decimals';

@mixin fonts($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: decimal-round($lh / $fs);
}

@mixin section($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin centeredFlex($jc, $ai, $type: flex) {
  display: $type;
  justify-content: $jc;
  align-items: $ai;
}
@mixin retinaScreen($url) {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url($url);
  }
}
