.features {
  @include section(60px);

  @media screen and (min-width: 1200px) {
    @include section(94px);
  }

  &__item {
    --item: 1;

    @media screen and (min-width: 768px) {
      --item: 2;
    }
    @media screen and (min-width: 1200px) {
      --item: 4;
    }
  }
  &__wrapper {
    height: 120px;

    @include centeredFlex(center, center);

    margin-bottom: 30px;

    background-color: var(--primary-bg-color);
  }
  &__title {
    margin-bottom: 10px;
    text-align: center;

    color: var(--title-text-color);
    @include fonts(null, $primary-font-size, 16px);
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  &__description {
    @include fonts(null, $primary-font-size, 24px);
  }
}
