.header {
  border-bottom: 1px solid var(--container-color);

  &__container {
    @include centeredFlex(null, center);
  }

  &__logo {
    @include section(16px);

    @media screen and (min-width: 768px) {
      @include section(26px);
    }
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
}

.nav {
  // display: none;
  // @include centeredFlex(null, center);

  // @media screen and (max-width: 767px) {
  //   width: 100%;
  // }

  &__item:not(:last-of-type) {
    margin-right: 50px;
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  &--left {
    margin-left: auto;
  }
}

.nav__link {
  position: relative;
  @include centeredFlex(center, center);

  padding-top: 32px;
  padding-bottom: 32px;

  &--active::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }

  &--current {
    color: var(--accent-color);
  }
}
