.mobile-menu__open {
  margin-left: auto;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;

  transition: --anim-slow;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);

  width: 100vw;
  height: 100vh;

  background-color: var(--primary-white-color);
  overflow: auto;

  transition: transform var(--anim-slow);

  &.is-open {
    transform: translateX(0);
  }
}
.mobile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;

  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;

  transition: --anim-slow;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.mobile-container {
  max-width: 430px;
  height: 100%;
  margin: 0 auto;

  padding: 48px 15px;

  @include centeredFlex(space-between, null);
  flex-direction: column;
}
.mobile-nav {
  margin-bottom: 50px;
}
.mobile-nav__link {
  @include fonts(500, 40px, 48px);

  &--current {
    color: var(--accent-color);
  }
}
.mobile-nav__item:not(:last-child),
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__link {
  color: var(--primary-text-color);
  @include fonts(500, 24px, 28px);
  letter-spacing: 0.02em;

  &--active {
    color: var(--accent-color);

    @media screen and (min-width: 480px) {
      @include fonts(null, 34px, 40px);
    }
  }
}
.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &__link {
    @include fonts(500, 18px, 22px);
    color: var(--accent-color);
  }
  &__item:not(:last-child) .mobile-socials__link {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
